# Laravel
/transpo-system-backend/vendor/
/transpo-system-backend/node_modules/
/transpo-system-backend/storage/
/transpo-system-backend/.env

# React
/transpo-system-frontend/node_modules/
/transpo-system-frontend/.env
